.container {
    background: #fcfcfd;
    height: 100%;
}
/* tobBar */
.topBar {
    height: 64px;
    border: 1px solid red;
    background: #d43c33; 
}
.topBar-content {
    padding: 0 10px;
    border: 1px solid red;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}
/* topBar logo*/
.topBar-content .logo {
    display: flex;
    align-items: center;
    color: #fff;
}
.topBar-content .logo .icon {
    font-size: 2.4em;
    fill: #fff;
}
.topBar-content .logo span{
    font-size: 18px;
}

/* topBar donwload app*/
.topBar-content > .downloadApp {
}
.topBar-content > .downloadApp > span {
    border: 1px solid #fff;
    line-height: 30px;
    font-size: 15px; 
    height: 30px;
    padding: 0 18px;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
}

